@import "tailwindcss";
@config "../tailwind.config.js";

html {
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

html.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Hanken Grotesk", sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  /* font-family: "Bodoni Moda", serif; */
  font-family: "Fraunces", serif;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.subheader {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
